/* .page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}
.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: #4b5aff;
}

.page .input-field {
  margin-bottom: 25;
}
.input-field .input {
  font-size: 18;
  placeholder-color: #a8a8a8;
}
.input:disabled {
  background-color: white;
  opacity: 0.5;
}

.btn-primary {
  margin: 30 5 15 5;
}

.login-label {
  horizontal-align: center;
  color: #a8a8a8;
  font-size: 16;
}
.sign-up-label {
  margin-bottom: 20;
}
.bold {
  color: #000000;
} */


.page {
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url('res://login_background');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.login-button {
  margin-top: 20;
  font-size: 18;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: yellowgreen;
  border-radius: 20;
}

.input-style {
  padding: 12 20;
  border-radius: 20;
  background-color: white;
  margin-bottom: 20;
  font-family: "Courier New", Courier, monospace;
  /* placeholder-color: lightgray; */
  /* color: white; */
}
