.background {
  align-items: center;
  flex-direction: column;
  position: relative;
  /* background-image: url("~/views/images/profile-background.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.profile{
  width: 100%;
  height: 35%;
  /* text-align: center; */
  /* margin-top: 30; */
  /* border-radius: 20; */
  background-color: tomato;
}

.label{
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18;
  margin-top: 8;
  
}

.menu{
  width: 100%;
  height: 100%;
  text-align: center;
  /* margin-top: 30; */
  /* border-radius: 20; */
  background-color: lightgray;
}